//Tipografia
$principal-font: 'Roboto Mono', monospace;

//Colores
$deepblue:#244a62;
$blue:#6bfafb;
$orange:#f0766a;

$black:#050505;
$white:#d9e0e4;
$gray:#e1e1e1;

$red:#dc2626;

//Tamaño de pantallas
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL:1200px;
